.anchor_pane
{
    -fx-background-image: url("../graphics/publisherMaterial/banner.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    /*-fx-background-repeat: repeat;
    -fx-background-position: center;*/
}

.text
{
    -fx-text-fill: white;
    /*-fx-font-size: 30 px;*/
    -fx-border-color: white;
}

.text_field
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    /*-fx-font-size: 24 px;*/
}

.btn
{

    -fx-background-color: #043605;
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-text-fill: white;

    -fx-text-align: center;
    -fx-font-size: 32 px;
    -fx-opacity: 90%;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;

}
.btn:hover{
    -fx-opacity: 95%;
    -fx-cursor: hand;
}

.btn:pressed
{
    -fx-opacity: 100%;
    -fx-border-width: 4;
}

.check-box .box {

    -fx-background-color: #651010;
    -fx-border-color:white;
    -fx-border-radius:3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #0d9a00;
}

.invalidMsg
{
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-background-color: green;
}

.roomInfoTxt
{
    -fx-font-weight: bold;

}

